* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Times New Roman", Times, serif;
}

.block {
	border: 2px solid #383838;
	background-color: #383838;
	color: white;
	font-size: 20px;
	text-align: left;
	padding: 30px;
}

.block a {
	text-decoration: none;
}

.uvod {
	text-align: center;
	font-size: 20px;
	margin: 20px 300px;
	color: grey;
}

h1 {
	font-size: 50px;
	margin: 30px 200px ;
	color: #696969;
}

.datum {
	color: 	#EADDCA;
	font-size: 17px;
	margin: 0 0 0 50px;
}

.main_pic {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 55%;
}

.container {
	text-align: justify;
	font-size: 18px;
	margin: 30px 350px;
	color: grey;
	line-height: 1.6;
}

.blue {
	color: #2a52be;
	font-weight: 600;
}

ul {
	padding: 15px 40px 20px 40px;
	color: #B0B0B0;
	list-style-type: square;
}


.image-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  background-color:	#F0F0F0 ;
  padding: 10px;
}

.image-container img {
  max-height: 300px;
  height: auto;
  padding: 10px;
}

td img {
	max-width: 300px;
	padding: 10px;
	align-items: center;
}

ol {
	padding: 15px 40px 20px 40px;
	color: #B0B0B0;
	
}

a {
	color: white;
	font-size: 20px;
}

.paticka {
	text-align: center;
	border: 2px solid #383838;
	background-color: #383838;
	padding: 30px;
}